<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="../game/user/events.js"></script>
    <script src="../game/controllers/keyboard.js"></script>
    <script src="../game/controllers/mobile.js"></script>
    <script src="../game/drawing.js"></script>
    <script src="../game/user/world.js"></script>
    <script src="../game/entities/entity.js"></script>
    <script src="../game/entities/player.js"></script>
    <script src="../game/user/network/client.js"></script>
    <script src="../game/main.js"></script>

    <link rel="stylesheet" href="views/style/main.css">
</head>
<body>
    <div class="container">
        <canvas id="player"></canvas>
    </div>
</body>
</html>