html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}  

#player {
    position: absolute;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    background-color: #000;
}